@charset "UTF-8";
/*================================
mixin
===============================*/
/*================================
color
===============================*/
/*================================
font
===============================*/
/*================================
base
===============================*/
html {
  overflow-x: hidden;
  width: 100%;
}

body {
  overflow: hidden;
}

a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

.inner {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
}
@media screen and (min-width: 1440px) {
  .inner {
    padding: 0 40px;
  }
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .inner {
    padding: 0 40px;
  }
}
@media screen and (max-width: 899px) {
  .inner {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1440px) {
  .pc-hidden {
    display: none;
  }
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .pc-hidden {
    display: none;
  }
}
@media screen and (max-width: 899px) {
  .pc-hidden2 {
    display: none;
  }
}
@media screen and (max-width: 899px) {
  .sp-hidden {
    display: none;
  }
}
/*================================
section
===============================*/
.section__title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section__title-sub {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #565956;
  letter-spacing: 1px;
  position: relative;
}
@media screen and (max-width: 899px) {
  .section__title-sub {
    line-height: 1.6;
  }
}
.section__title-sub::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 1px;
  background: #565956;
}
@media screen and (max-width: 899px) {
  .section__title-sub::after {
    top: 85px;
  }
}

.section__title-main {
  margin-top: 42px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #565956;
}
@media screen and (max-width: 899px) {
  .section__title-main {
    margin-top: 30px;
  }
}

@media screen and (max-width: 899px) {
  .section__title-sub2::after {
    top: 54px;
  }
}

@media screen and (max-width: 899px) {
  .section__title-main2 {
    margin-top: 36px;
  }
}

/*================================
header
===============================*/
.header {
  background: #fff;
  position: relative;
  z-index: 1000;
}

.header__inner {
  margin: 0 auto;
  width: 1260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .header__inner {
    width: 100%;
  }
}
@media screen and (max-width: 899px) {
  .header__inner {
    width: 100%;
    height: 48px;
  }
}

.header__logo img {
  width: 113px;
}
@media screen and (max-width: 899px) {
  .header__logo img {
    width: 52px;
  }
}
.header__logo img:hover {
  opacity: 0.7;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: auto;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .header__nav {
    margin-left: 0;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 899px) {
  .header__nav {
    margin-left: 0;
    justify-content: center;
    width: 100%;
  }
}

.header__link {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #565956;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .header__link {
    font-size: 14px;
  }
}
@media screen and (max-width: 899px) {
  .header__link {
    font-size: 14px;
  }
}

.header__link2:hover {
  opacity: 0.7;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .header__link2 {
    display: none;
  }
}
@media screen and (max-width: 899px) {
  .header__link2 {
    display: none;
  }
}

.dropdown-arrow {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  transition: transform 0.3s ease;
  background-image: url("../img/header-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (max-width: 899px) {
  .dropdown-arrow {
    width: 10px;
    height: 8px;
  }
}

.header__link.active .dropdown-arrow {
  background-image: url("../img/header-arrow2.png");
}

.header__btn {
  margin-left: 32px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .header__btn {
    display: none;
  }
}
@media screen and (max-width: 899px) {
  .header__btn {
    display: none;
  }
}
.header__btn a {
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #565956;
  background: #fff;
  color: #565956;
  border: 1px solid #565956;
  border-radius: 50px;
  padding: 8px 24px;
}
.header__btn a:hover {
  color: #fff;
  background: #565956;
}

.header__logout {
  margin-left: auto;
}
.header__logout img {
  width: 24px;
}
@media screen and (min-width: 1440px) {
  .header__logout {
    display: none;
  }
}

.header__cart {
  margin-left: 40px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .header__cart {
    margin-left: 16px;
  }
}
@media screen and (max-width: 899px) {
  .header__cart {
    margin-left: 16px;
  }
}
.header__cart a img {
  width: 32px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .header__cart a img {
    width: 24px;
  }
}
@media screen and (max-width: 899px) {
  .header__cart a img {
    width: 24px;
  }
}
.header__cart a img:hover {
  opacity: 0.7;
}

/* ドロップダウンメニュー */
.dropdown-menu {
  margin-top: 16px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  background: transparent;
}

.dropdown-menu__inner {
  padding: 24px 40px;
  margin: 0 auto;
  width: 1180px;
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.1);
  border-radius: 10px;
  background: #fff;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .dropdown-menu__inner {
    width: 93%;
  }
}
@media screen and (max-width: 899px) {
  .dropdown-menu__inner {
    padding: 16px;
    width: 93%;
  }
}

.dropdown-menu__category {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #565956;
}
@media screen and (max-width: 899px) {
  .dropdown-menu__category {
    font-size: 16px;
  }
}

.dropdown-menu__links {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 48px 32px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .dropdown-menu__links {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 899px) {
  .dropdown-menu__links {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
  }
}

.dropdown-menu__link {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #565956;
  padding-bottom: 8px;
  border-bottom: 2px solid #f2f4f1;
}
@media screen and (max-width: 899px) {
  .dropdown-menu__link {
    font-size: 14px;
  }
}

.dropdown-menu__link:hover {
  border-bottom: 2px solid #609484;
}

/*================================
cta
===============================*/
.cta {
  padding: 48px 0;
  background: #f2f4f1;
  position: relative;
}
@media screen and (max-width: 899px) {
  .cta {
    padding: 54px 20px;
  }
}
.cta::before {
  content: "LIMITED TIME";
  position: absolute;
  top: 3%;
  left: 9%;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #e6e8e5;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  direction: rtl;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .cta::before {
    left: 1%;
  }
}
@media screen and (max-width: 899px) {
  .cta::before {
    display: none;
  }
}
.cta::after {
  content: "CAMPAIGN";
  position: absolute;
  top: 10%;
  left: 18%;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #e6e8e5;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  direction: rtl;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .cta::after {
    left: 8%;
  }
}
@media screen and (max-width: 899px) {
  .cta::after {
    display: none;
  }
}

.cta__inner {
  position: relative;
}
.cta__inner::before {
  content: "LIMITED TIME";
  position: absolute;
  top: -8%;
  right: 10%;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #e6e8e5;
  white-space: nowrap;
  writing-mode: vertical-rl;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .cta__inner::before {
    right: 1%;
  }
}
@media screen and (max-width: 899px) {
  .cta__inner::before {
    display: none;
  }
}
.cta__inner::after {
  content: "CAMPAIGN";
  position: absolute;
  top: 3%;
  right: 18%;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #e6e8e5;
  writing-mode: vertical-rl;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .cta__inner::after {
    right: 8%;
  }
}
@media screen and (max-width: 899px) {
  .cta__inner::after {
    display: none;
  }
}

.cta__wrapper {
  margin: 0 auto;
  padding: 58px 0;
  width: 719px;
  background: #fff;
  border-radius: 16px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .cta__wrapper {
    width: 60%;
  }
}
@media screen and (max-width: 899px) {
  .cta__wrapper {
    width: 100%;
    padding: 32px 0;
  }
}

.cta__texts {
  text-align: center;
}

.cta__text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #565956;
  padding: 4px 16px;
  display: inline-block;
}
@media screen and (min-width: 1440px) {
  .cta__text {
    display: none;
  }
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .cta__text {
    display: none;
  }
}

.cta__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .cta__title {
    width: 600px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 899px) {
  .cta__title {
    margin-top: 12px;
  }
}
.cta__title::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 85px;
  width: 82px;
  height: 120px;
  background: url(../img/cta-img.png) no-repeat center center/contain;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .cta__title::before {
    left: 20px;
  }
}
@media screen and (max-width: 899px) {
  .cta__title::before {
    display: none;
  }
}

.cta__title1 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #565956;
}
@media screen and (max-width: 899px) {
  .cta__title1 {
    font-size: 16px;
  }
}

.cta__title2 {
  margin-top: 18px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #565956;
  letter-spacing: 4.2px;
}
@media screen and (max-width: 899px) {
  .cta__title2 {
    margin-top: 12px;
    font-size: 28px;
    letter-spacing: 2px;
    line-height: 1.5;
  }
}

.cta__btns {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (max-width: 899px) {
  .cta__btns {
    margin-top: 24px;
    flex-direction: column;
  }
}

.cta__btn a {
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #565956;
  width: 191px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  background: #565956;
  color: #fff;
  border-radius: 16px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .cta__btn a {
    width: 170px;
  }
}
@media screen and (max-width: 899px) {
  .cta__btn a {
    width: 311px;
  }
}

.cta__step {
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media screen and (max-width: 899px) {
  .cta__step {
    margin-top: 24px;
    flex-direction: column;
  }
}

.cta__step-left img {
  width: 281px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .cta__step-left img {
    width: 240px;
  }
}
@media screen and (max-width: 899px) {
  .cta__step-left img {
    width: 260px;
  }
}

@media screen and (max-width: 899px) {
  .cta__step-right {
    margin-top: 16px;
  }
}
.cta__step-right a {
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  width: 233px;
  height: 70px;
  line-height: 70px;
  border-radius: 16px;
  padding-left: 24px;
  background: linear-gradient(to left, #669988, #668899);
  position: relative;
}
.cta__step-right a:hover {
  opacity: 0.7;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .cta__step-right a {
    width: 220px;
  }
}
@media screen and (max-width: 899px) {
  .cta__step-right a {
    width: 311px;
    padding-left: 63px;
  }
}
.cta__step-right a::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  width: 16px;
  height: 14px;
  background: url(../img/cta-arrow.png) no-repeat center center/contain;
}
@media screen and (max-width: 899px) {
  .cta__step-right a::after {
    right: 63px;
  }
}

/*================================
reason 
===============================*/
.reason {
  padding: 90px 0;
}

.reason__items {
  margin: 68px auto 0;
  width: 1180px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 85px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .reason__items {
    width: 800px;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}
@media screen and (max-width: 899px) {
  .reason__items {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.reason__item {
  width: 168px;
}
@media screen and (max-width: 899px) {
  .reason__item {
    margin: 0 auto;
  }
  .reason__item + .reason__item {
    margin-top: 6px;
  }
}

.reason__titles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reason__title {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background: #948260;
  width: 144px;
  height: 38px;
  line-height: 38px;
  text-align: center;
}

.reason__img img {
  width: 168px;
}

.reason__text {
  margin-top: 3px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #565956;
  text-align: center;
  line-height: 1.4;
}
@media screen and (max-width: 899px) {
  .reason__text {
    margin-top: 0;
    line-height: 1.6;
  }
}

/*================================
voice
===============================*/
.voice {
  padding: 88px 0;
}
@media screen and (max-width: 899px) {
  .voice {
    padding: 50px 0;
  }
}

.voice__items {
  margin-top: 69px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
@media screen and (max-width: 899px) {
  .voice__items {
    margin-top: 68px;
    flex-direction: column;
  }
}

.voice__item {
  width: 393px;
  position: relative;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .voice__item {
    width: 280px;
  }
}
@media screen and (max-width: 899px) {
  .voice__item {
    width: 100%;
  }
}

.voice__label {
  position: absolute;
  top: 0;
  left: 0;
  background: #609484;
  color: #fff;
  width: 122px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.voice__body {
  padding: 26px 48px;
  background: #f2f4f1;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .voice__body {
    padding: 20px;
  }
}
@media screen and (max-width: 899px) {
  .voice__body {
    padding: 30px 24px;
  }
}

.voice__body2 {
  background: #fff;
}

.voice__title span {
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background: #948260;
  padding: 4px 12px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .voice__title span {
    font-size: 17px;
    padding: 4px;
  }
}
@media screen and (max-width: 899px) {
  .voice__title span {
    font-size: 20px;
    padding: 4px 10px;
  }
}
.voice__title span:nth-child(n+2) {
  margin-top: 18px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .voice__title span:nth-child(n+2) {
    margin-top: 9px;
  }
}
@media screen and (max-width: 899px) {
  .voice__title span:nth-child(n+2) {
    margin-top: 18px;
  }
}

.voice__text {
  margin-top: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #565956;
  line-height: 1.5;
  letter-spacing: 0.6px;
}
@media screen and (max-width: 899px) {
  .voice__text {
    letter-spacing: 0.3px;
  }
}

.voice__name {
  margin-top: 44px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #565956;
}
@media screen and (max-width: 899px) {
  .voice__name {
    margin-top: 18px;
  }
}

/*================================
solution
===============================*/
.solution {
  padding: 88px 0 112px;
  background: url(../img/solution-bg.jpg) no-repeat center center/cover;
  width: 100%;
}
@media screen and (max-width: 899px) {
  .solution {
    padding: 55px 0 112px;
  }
}

.solution__items {
  margin: 72px auto 0;
  width: 1180px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .solution__items {
    width: 800px;
  }
}
@media screen and (max-width: 899px) {
  .solution__items {
    margin: 40px auto 0;
    width: 100%;
  }
}

.solution__item {
  height: 88px;
  line-height: 88px;
}
.solution__item + .solution__item {
  margin-top: 24px;
}
.solution__item:last-child {
  margin-top: 24px;
}
@media screen and (max-width: 899px) {
  .solution__item {
    height: 194px;
    line-height: 1.6;
  }
}

.solution__text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #565956;
  background: #fff;
  border-radius: 32px;
  padding-left: 114px;
  letter-spacing: 0.5px;
  box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.1);
  position: relative;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .solution__text {
    padding-left: 60px;
  }
}
@media screen and (max-width: 899px) {
  .solution__text {
    padding: 75px 50px 28px;
  }
}
.solution__text::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  width: 32px;
  height: 32px;
  background: url(../img/solution-check.png) no-repeat center center/contain;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .solution__text::before {
    left: 20px;
  }
}
@media screen and (max-width: 899px) {
  .solution__text::before {
    top: 22%;
    left: 50px;
  }
}

.solution__item2 {
  margin-top: 24px;
  display: flex;
  align-items: center;
  height: 88px;
  line-height: 88px;
}
@media screen and (max-width: 899px) {
  .solution__item2 {
    flex-direction: column;
    height: auto;
    line-height: 1.6;
  }
}

.solution__left-text {
  width: 578px;
  margin-right: 24px;
  position: relative;
}
.solution__left-text::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  width: 32px;
  height: 32px;
  background: url(../img/solution-check.png) no-repeat center center/contain;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .solution__left-text::before {
    left: 20px;
  }
}
@media screen and (max-width: 899px) {
  .solution__left-text::before {
    top: 27%;
    left: 50px;
  }
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .solution__left-text {
    width: 388px;
  }
}
@media screen and (max-width: 899px) {
  .solution__left-text {
    width: 100%;
    height: 164px;
    margin-right: 0;
  }
}

.solution__right-text {
  width: 578px;
  position: relative;
}
.solution__right-text::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  width: 32px;
  height: 32px;
  background: url(../img/solution-check.png) no-repeat center center/contain;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .solution__right-text::before {
    left: 20px;
  }
}
@media screen and (max-width: 899px) {
  .solution__right-text::before {
    top: 27%;
    left: 50px;
  }
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .solution__right-text {
    width: 388px;
  }
}
@media screen and (max-width: 899px) {
  .solution__right-text {
    margin-top: 24px;
    height: 164px;
    width: 100%;
  }
}

/*================================
realization
===============================*/
.realization__head-text {
  margin-top: -14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 899px) {
  .realization__head-text {
    margin-top: -46px;
    padding: 0 20px;
  }
}
.realization__head-text img {
  width: 1180px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__head-text img {
    width: 800px;
  }
}
@media screen and (max-width: 899px) {
  .realization__head-text img {
    width: 100%;
  }
}

.realization {
  padding: 28px 0 110px;
  position: relative;
}
@media screen and (max-width: 899px) {
  .realization {
    padding: 40px 0 50px;
  }
}
.realization::before {
  content: "";
  position: absolute;
  top: 9.7%;
  left: 0;
  width: 100%;
  height: 1369px;
  background: #f2f4f1;
  z-index: -1;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization::before {
    height: 1200px;
  }
}
@media screen and (max-width: 899px) {
  .realization::before {
    top: 11.5%;
    height: 1982px;
  }
}

.realization__head-img {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.realization__head-img img {
  width: 1180px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__head-img img {
    width: 800px;
  }
}
@media screen and (max-width: 899px) {
  .realization__head-img img {
    margin-top: -20px;
    width: 100%;
    padding: 0 20px;
  }
}

.realization__wrapper {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 899px) {
  .realization__wrapper {
    margin-top: -10px;
    flex-direction: column;
    padding: 0 20px;
  }
}

.realization__left {
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 64px;
  width: 618px;
  margin-right: -42px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__left {
    padding: 20px;
    width: 400px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 899px) {
  .realization__left {
    width: 100%;
    margin-right: 0;
    padding: 20px 14px 30px;
  }
}

.realization__title span {
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  background: #948260;
  height: 44px;
  line-height: 44px;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 899px) {
  .realization__title span {
    margin-top: 14px;
    padding: 0 5px;
  }
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__title {
    display: none;
  }
}

.realization__title-tab span {
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  background: #948260;
  height: 44px;
  line-height: 44px;
  letter-spacing: 1.5px;
  margin-top: 10px;
  padding: 0 10px;
}
@media screen and (min-width: 1440px) {
  .realization__title-tab {
    display: none;
  }
}
@media screen and (max-width: 899px) {
  .realization__title-tab {
    display: none;
  }
}

.realization__sub-title {
  margin-top: 40px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #565956;
  letter-spacing: 1.4px;
  position: relative;
}
@media screen and (max-width: 899px) {
  .realization__sub-title {
    margin-top: 36px;
  }
}
.realization__sub-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
  width: 303px;
  height: 1px;
  background: #565956;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__sub-title::after {
    width: 154px;
  }
}
@media screen and (max-width: 899px) {
  .realization__sub-title::after {
    right: 0px;
    width: 134px;
  }
}

.realization__sub-title2 {
  margin-top: 52px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #565956;
  letter-spacing: 1.4px;
  position: relative;
}
@media screen and (max-width: 899px) {
  .realization__sub-title2 {
    margin-top: 52px;
    letter-spacing: 0px;
  }
}
.realization__sub-title2::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
  width: 234px;
  height: 1px;
  background: #565956;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__sub-title2::after {
    width: 85px;
  }
}
@media screen and (max-width: 899px) {
  .realization__sub-title2::after {
    right: 0;
    width: 85px;
  }
}

.realization__sub-title3 {
  margin-top: 40px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #565956;
  letter-spacing: 1.4px;
  position: relative;
}
@media screen and (max-width: 899px) {
  .realization__sub-title3 {
    margin-top: 36px;
  }
}
.realization__sub-title3::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  width: 303px;
  height: 1px;
  background: #565956;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__sub-title3::after {
    width: 154px;
  }
}
@media screen and (max-width: 899px) {
  .realization__sub-title3::after {
    right: 0px;
    width: 134px;
  }
}

.realization__sub-title4 {
  margin-top: 52px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #565956;
  letter-spacing: 1.4px;
  position: relative;
}
@media screen and (max-width: 899px) {
  .realization__sub-title4 {
    margin-top: 52px;
    letter-spacing: 0px;
  }
}
.realization__sub-title4::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  width: 234px;
  height: 1px;
  background: #565956;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__sub-title4::after {
    width: 85px;
  }
}
@media screen and (max-width: 899px) {
  .realization__sub-title4::after {
    right: 0;
    width: 85px;
  }
}

.realization__text {
  margin-top: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #565956;
  line-height: 1.5;
  letter-spacing: 1.5px;
  width: 480px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__text {
    width: 100%;
  }
}
@media screen and (max-width: 899px) {
  .realization__text {
    margin-top: 16px;
    width: 100%;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 899px) {
  .realization__text2 {
    margin-top: 20px;
    letter-spacing: 0px;
  }
}

.realization__img-sp1,
.realization__img-sp2 {
  margin-top: 16px;
}
.realization__img-sp1 img,
.realization__img-sp2 img {
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .realization__img-sp1,
  .realization__img-sp2 {
    display: none;
  }
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__img-sp1,
  .realization__img-sp2 {
    display: none;
  }
}

.realization__right {
  position: relative;
  z-index: 2;
}
.realization__right img {
  width: 610px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__right img {
    width: 400px;
  }
}
@media screen and (max-width: 899px) {
  .realization__right img {
    display: none;
  }
}

.realization__bottom-title {
  margin-top: 85px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.realization__bottom-title-main {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #565956;
  letter-spacing: 0.5px;
  position: relative;
}
.realization__bottom-title-main span {
  display: inline-block;
  position: relative;
  z-index: 2;
  background: #f2f4f1;
  padding: 0 140px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__bottom-title-main span {
    padding: 0 90px;
  }
}
@media screen and (max-width: 899px) {
  .realization__bottom-title-main span {
    padding: 0 24px;
  }
}
.realization__bottom-title-main::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 988px;
  height: 1px;
  background: #565956;
  z-index: -1;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__bottom-title-main::before {
    width: 58%;
  }
}
@media screen and (max-width: 899px) {
  .realization__bottom-title-main::before {
    width: 90%;
  }
}

.realization__bottom-title-sub {
  margin-top: 12px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #B1B6AF;
  letter-spacing: 0.5px;
}

.realization__items {
  margin-top: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 49px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__items {
    gap: 20px;
  }
}
@media screen and (max-width: 899px) {
  .realization__items {
    flex-direction: column;
    padding: 0 20px;
  }
}

.realization__item {
  width: 300px;
  box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, 0.1);
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__item {
    width: 250px;
  }
}
@media screen and (max-width: 899px) {
  .realization__item {
    width: 90%;
  }
}

.realization__item-body {
  background: #f2f4f1;
  padding: 28px 24px;
  height: 150px;
}

.realization__item-title {
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #565956;
  letter-spacing: 0.8px;
}

.realization__item-text {
  margin-top: 16px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #565956;
  letter-spacing: 0.8px;
}

.realization__head-img2 {
  margin-top: 130px;
  position: relative;
}
@media screen and (max-width: 899px) {
  .realization__head-img2 {
    margin-top: 90px;
  }
}
.realization__head-img2::before {
  content: "";
  position: absolute;
  top: 36%;
  left: 0;
  width: 100%;
  height: 1369px;
  background: #f2f4f1;
  z-index: -1;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__head-img2::before {
    height: 1200px;
  }
}
@media screen and (max-width: 899px) {
  .realization__head-img2::before {
    top: 780px;
    height: 1363px;
  }
}

.realization__wrapper2 {
  flex-direction: row-reverse;
}

.realization__left2 {
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 64px;
  width: 588px;
  margin-left: -22px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__left2 {
    margin-left: 0;
    padding: 20px;
    width: 400px;
  }
}
@media screen and (max-width: 899px) {
  .realization__left2 {
    width: 100%;
    margin-left: 0;
    padding: 20px 14px 30px;
  }
}

.realization__title2 span {
  padding: 0 10px;
}

.realization__right2 {
  position: relative;
  z-index: 2;
  margin-left: -30px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__right2 {
    margin-left: 0;
  }
}
@media screen and (max-width: 899px) {
  .realization__right2 {
    margin-left: 0;
  }
}
.realization__right2 img {
  width: 610px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__right2 img {
    width: 400px;
  }
}
@media screen and (max-width: 899px) {
  .realization__right2 img {
    display: none;
  }
}

.realization__text3 {
  margin-top: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #565956;
  line-height: 1.5;
  letter-spacing: 1px;
  width: 480px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .realization__text3 {
    width: 100%;
  }
}
@media screen and (max-width: 899px) {
  .realization__text3 {
    margin-top: 24px;
    width: 100%;
    font-size: 15.8px;
    letter-spacing: 0px;
  }
}

/*================================
features
===============================*/
.features {
  padding: 80px 0 70px;
  background: url(../img/features-bg.jpg) no-repeat center center/cover;
  width: 100%;
}
@media screen and (max-width: 899px) {
  .features {
    padding: 56px 16px;
  }
}

.features__wrapper {
  margin: 60px auto 0;
  width: 1180px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.1);
  background: #fff;
  border-radius: 16px;
  padding: 32px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .features__wrapper {
    width: 90%;
    gap: 40px;
  }
}
@media screen and (max-width: 899px) {
  .features__wrapper {
    width: 100%;
    flex-direction: column;
    gap: 24px;
    padding: 32px 16px;
  }
}

.features__left img {
  width: 446px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .features__left img {
    width: 400px;
  }
}
@media screen and (max-width: 899px) {
  .features__left img {
    width: 100%;
  }
}

.features__left2 img {
  width: 452px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .features__left2 img {
    width: 400px;
  }
}
@media screen and (max-width: 899px) {
  .features__left2 img {
    width: 100%;
  }
}

.features__right {
  width: 445px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .features__right {
    width: 400px;
  }
}
@media screen and (max-width: 899px) {
  .features__right {
    width: 100%;
  }
}

.features__point {
  margin-top: 5px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background: #948260;
  padding: 8px 20px;
  text-align: center;
  display: inline-block;
}
@media screen and (max-width: 899px) {
  .features__point {
    margin-top: 0px;
  }
}

.features__title {
  margin-top: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #565956;
  letter-spacing: 0.5px;
}
.features__title span {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #948260;
  letter-spacing: 0.5px;
}

.features__text {
  margin-top: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #565956;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.features__wrapper2 {
  margin-top: 32px;
  flex-direction: row-reverse;
}
@media screen and (max-width: 899px) {
  .features__wrapper2 {
    flex-direction: column;
  }
}

.features__wrapper3 {
  margin-top: 32px;
}

.features__wrapper4 {
  margin-top: 32px;
  flex-direction: row-reverse;
}
@media screen and (max-width: 899px) {
  .features__wrapper4 {
    flex-direction: column;
  }
}

/*================================
how-to
===============================*/
.how-to {
  padding: 88px 0;
}
@media screen and (max-width: 899px) {
  .how-to {
    padding: 56px 0 50px;
  }
}

.how-to__items {
  margin: 70px auto 0;
  width: 1180px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .how-to__items {
    width: 800px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 899px) {
  .how-to__items {
    margin: 38px auto 0;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
}

.how-to__item {
  width: 268px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .how-to__item {
    width: 240px;
  }
}
@media screen and (max-width: 899px) {
  .how-to__item {
    width: 100%;
  }
}

@media screen and (max-width: 899px) {
  .how-to__img img {
    height: 343px;
  }
}

.how-to__body {
  margin-top: 30px;
}

.how-to__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.how-to__title-num {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #609484;
}

.how-to__title-main {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #565956;
}

.how-to__text {
  margin-top: 18px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #565956;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 899px) {
  .how-to__text {
    margin-top: 14px;
  }
}

/*================================
qa
===============================*/
.qa {
  padding: 98px 0 88px;
}
@media screen and (max-width: 899px) {
  .qa {
    padding: 56px 0;
  }
}

.qa__inner {
  margin: 0 auto;
  width: 1260px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .qa__inner {
    width: 100%;
  }
}
@media screen and (max-width: 899px) {
  .qa__inner {
    width: 100%;
  }
}

.qa__items {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
@media screen and (max-width: 899px) {
  .qa__items {
    margin-top: 0px;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }
}

.qa__item {
  border-bottom: 1px solid #565956;
}

.qa__item:first-of-type .qa__box-a {
  display: block;
}

.qa__box-q {
  background: #fff;
  padding: 18px 70px 20px 60px;
  position: relative;
  color: #565956;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 899px) {
  .qa__box-q {
    padding: 20px 50px 30px 36px;
    line-height: 1.6;
  }
}
.qa__box-q::before {
  content: "Q";
  position: absolute;
  top: 48%;
  left: 28px;
  transform: translate(-50%, -50%);
  color: #948260;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 899px) {
  .qa__box-q::before {
    top: 45%;
    left: 5px;
  }
}

.qa__box-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 24px;
  top: 44%;
  border-radius: 999px;
  transform: translateY(-50%);
}
@media screen and (max-width: 899px) {
  .qa__box-icon {
    top: 45%;
    right: 0;
  }
}
.qa__box-icon.is-open .qa__box-bar2 {
  transform: rotate(90deg);
}

.qa__box-bar1 {
  width: 16px;
  height: 2px;
  background: #948260;
  position: absolute;
  top: 50%;
  transform: translateY(-50%, -50%);
  left: 5%;
}

.qa__box-bar2 {
  width: 2px;
  height: 16px;
  background: #948260;
  position: absolute;
  top: 5%;
  transform: translateX(-50%, -50%);
  left: 50%;
  transition: all 0.3s ease 0s;
}

.qa__box-a {
  padding: 32px 70px 24px 60px;
  position: relative;
  color: #565956;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}
@media screen and (max-width: 899px) {
  .qa__box-a {
    padding: 20px 50px 30px 36px;
    line-height: 1.6;
  }
}
.qa__box-a::before {
  content: "A";
  position: absolute;
  top: 48%;
  left: 28px;
  transform: translate(-50%, -50%);
  color: #948260;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 899px) {
  .qa__box-a::before {
    top: 45%;
    left: 5px;
  }
}

.qa__link {
  margin-top: 64px;
  text-align: center;
}
@media screen and (max-width: 899px) {
  .qa__link {
    margin-top: 40px;
  }
}
.qa__link a {
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #609484;
  width: 305px;
  height: 64px;
  line-height: 64px;
  border-radius: 50px;
  padding-left: 56px;
  letter-spacing: 0.5px;
  text-align: left;
  position: relative;
}
.qa__link a::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  width: 11px;
  height: 15px;
  background: url(../img/qa-arrow.png) no-repeat center center/contain;
}
.qa__link a:hover::after {
  right: 30px;
  transition: all 0.3s ease 0s;
}

/*================================
footer
===============================*/
.footer {
  padding: 56px 0 32px;
  background: #565956;
}
@media screen and (max-width: 899px) {
  .footer {
    padding: 32px 16px;
  }
}

.footer__inner {
  margin: 0 auto;
  width: 1180px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .footer__inner {
    width: 90%;
  }
}
@media screen and (max-width: 899px) {
  .footer__inner {
    width: 100%;
  }
}

.footer__lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 899px) {
  .footer__lists {
    grid-template-columns: repeat(1, 1fr);
    gap: 54px;
  }
}

.footer__list2 {
  margin-left: 60px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .footer__list2 {
    margin-left: 30px;
  }
}
@media screen and (max-width: 899px) {
  .footer__list2 {
    margin-left: 0;
  }
}

.footer__list3 {
  margin-left: 10px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .footer__list3 {
    margin-left: 0;
  }
}
@media screen and (max-width: 899px) {
  .footer__list3 {
    margin-left: 0;
  }
}

.footer__list4 {
  margin-left: 100px;
}
@media screen and (min-width:900px) and (max-width: 1439px) {
  .footer__list4 {
    margin-left: 50px;
  }
}
@media screen and (max-width: 899px) {
  .footer__list4 {
    margin-left: 0;
  }
}

.footer__title {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px;
  position: relative;
}
.footer__title::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 72px;
  height: 1px;
  background: #fff;
}

.footer__item {
  margin-top: 30px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.footer__item + .footer__item {
  margin-top: 14px;
}
.footer__item a:hover {
  opacity: 0.7;
}

.footer__sns {
  margin-top: 72px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__img img {
  width: 32px;
}

.footer__text {
  margin-top: 76px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 1.4;
}

.footer__copy {
  margin-top: 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  letter-spacing: 0.5px;
}

/*# sourceMappingURL=style.css.map */
